# Initialization

In [1]:
import matplotlib.pyplot as plt
import portfolio.portfolio as pf
import imp
imp.reload(pf)

In [2]:
portfolio_json_path = open(r"_json_path.txt","r").read().strip()

In [3]:
my_port = pf.Portfolio(portfolio_json_path)

# Asset diversification

## Holdings per asset

In [4]:
ah = my_port.asset_holdings
ah['share'] = ah['value']/ah['value'].sum()
ah

  asset_name     value     share
0      ETF_1    1104.0  0.008359
1      ETF_2    1001.0  0.007579
2     LIQUID  120012.0  0.908721
3       MF_1    9950.0  0.075341

## Holdings per account

In [5]:
ach = my_port.account_holdings
ach['share'] = ach['value']/ach['value'].sum()
ach

  account_name     value     share
0    Account_1    2015.0  0.015257
1    Account_2  130052.0  0.984743

In [6]:
## Holdings per issuer

In [7]:
ah = my_port.collect_issuer()
ah['share'] = ah['value']/ah['value'].sum()
ah

    issuer     value   share
0   MyBank   11054.0  0.0837
1  unknown  121013.0  0.9163

## Distibution of risk

In [8]:
rp = my_port.collect_risk_class()
rp['share'] = rp['value']/rp['value'].sum()
rp

   risk_class     value     share
0           0  120012.0  0.908721
1           2    9950.0  0.075341
2           3    2105.0  0.015939

## Distribution by country

In [9]:
c = my_port.collect_country()
c['share'] = c['value']/c['value'].sum()
c

   country      value     share
0    China     250.25  0.001895
1  Germany    1604.50  0.012149
2      USA   10200.25  0.077235
3  unknown  120012.00  0.908721