# Initialization

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import portfolio.portfolio as pf
from report_util import process_table
import imp
imp.reload(pf);

/home/erik/Documents/script/portfolio/portfolio/asset_performance.py:12: UserWarning: Could not import bf4py. Can't use BoerseFrankfurtAssetPerformance interface.
  warnings.warn("Could not import bf4py. Can't use BoerseFrankfurtAssetPerformance interface.")

In [2]:
portfolio_json_path = open(r"_json_path.txt","r").read().strip()

In [3]:
my_port = pf.Portfolio(portfolio_json_path)

# Asset diversification

All values are in EUR. All shares are in percent.

## Holdings per asset

In [4]:
ah = my_port.asset_holdings
process_table(ah)

  asset_name     value  share
0     LIQUID  120012.0  90.87
1       MF_1    9950.0   7.53
2      ETF_1    1104.0   0.84
3      ETF_2    1001.0   0.76

## Holdings per account

In [5]:
ach = my_port.account_holdings
process_table(ach)

  account_name     value  share
0    Account_2  130052.0  98.47
1    Account_1    2015.0   1.53

## Holdings per issuer

In [6]:
ah = my_port.collect_issuer()
process_table(ah)

    issuer     value  share
0  unknown  121013.0  91.63
1   MyBank   11054.0   8.37

## Distibution of risk

In [7]:
rp = my_port.collect_risk_class()
rp['share'] = rp['value']/rp['value'].sum()
rp

   risk_class     value     share
0           0  120012.0  0.908721
1           2    9950.0  0.075341
2           3    2105.0  0.015939

## Distribution by country

In [8]:
c = my_port.collect_country()
process_table(c)

   country      value  share
0  unknown  120012.00  90.87
1      USA   10200.25   7.72
2  Germany    1604.50   1.21
3    China     250.25   0.19